.searchCities {
    width: 100%;
}
.test {
    height : 450px;
}
#map_canvas {
    height:100%;
    width:100%;
    margin: 0px;
    padding : 0;
    position: relative;
    float: left;

}
.angular-google-map-container {
    position: absolute;
    height:100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.citiesList {
	height:450px;
	float: left;
}
.citiesList>li {
	list-style-type: none;
	float: left;
}
.mouse-hand {
	cursor : pointer
}
